.bg-nav {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 1.5rem;
  }
}
.navbar {
  padding: 1rem 1rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .active > .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link.show:hover,
.navbar-dark .navbar-nav .show > .nav-link:hover {
  color: #e65f78;
}

/*************************************************************************************/

#home {
  height: 100vh;
  width: 100%;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center center;
}
#home .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 32px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s;
  letter-spacing: 0.6px;
}
.button:hover {
  color: black;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.7px;
}
.marker {
  height: 54px;
  width: 4px;
  background-color: white;
}
.arrowfont {
  color: white;
  background-color: #e65f78;
  font-size: 30px;
  bottom: 30px;
  right: 30px;
  z-index: 999999999999999999999999999999999999;
  display: none;
}
.tool-color {
  padding: 10px;
  background-color: white;
}
.tool-color p {
  font-size: 20px;
}
.tool-box {
  position: fixed;
  left: 0;
  top: 60%;
  z-index: 499999977777;
}
.tool-box .iconfontt {
  color: white;

  font-size: 25px;
}
.tool-box .div-icon {
  background-color: black;
  padding: 5px;
}
.collorr {
  border-radius: 16px 16px 0;
  background-color: yellow;
  width: 35px;
  height: 35px;
}
.head::before {
  content: "I`m A Photographer.";
  animation: mymovehead 8.5s infinite;
  color: white;
  font-size: 50px;
  -webkit-animation: mymovehead 8.5s infinite;
}
@media only screen and (max-width: 600px) {
  .head::before {
    content: "I`m A Photographer.";
    animation: mymovehead 8.5s infinite;
    color: white;
    font-size: 25px;
    -webkit-animation: mymovehead 8.5s infinite;
  }
}
@keyframes mymovehead {
  0% {
    content: "I`m A Photographer|";
  }
  2.5% {
    content: "I`m A Photograph|";
  }
  5% {
    content: "I`m A Photogra|";
  }
  7.5% {
    content: "I`m A Photog|";
  }
  10% {
    content: "I`m A Ph|";
  }
  12.5% {
    content: "I`m A |";
  }
  15% {
    content: "I`m |";
  }
  17.5% {
    content: "I`m A |";
  }
  20% {
    content: "I`m A Gr|";
  }
  22.5% {
    content: "I`m A Grap|";
  }
  25% {
    content: "I`m A Graphi|";
  }
  27.5% {
    content: "I`m A Graphic |";
  }
  30% {
    content: "I`m A Graphic De|";
  }
  32.5% {
    content: "I`m A Graphic Desi|";
  }
  35% {
    content: "I`m A Graphic Design|";
  }
  37.5% {
    content: "I`m A Graphic Designer|";
  }
  40% {
    content: "I`m A Graphic Design|";
  }
  42.5% {
    content: "I`m A Graphic Desi|";
  }
  45% {
    content: "I`m A Graphic De|";
  }
  47.5% {
    content: "I`m A Graphic |";
  }
  50% {
    content: "I`m A Graphi|";
  }
  52.5% {
    content: "I`m A Grap|";
  }
  55% {
    content: "I`m A Gr|";
  }
  57.5% {
    content: "I`m A |";
  }
  60% {
    content: "I`m |";
  }
  62.5% {
    content: "I`m A |";
  }
  65% {
    content: "I`m A Ph|";
  }
  67.5% {
    content: "I`m A phot|";
  }
  70% {
    content: "I`m A Photog|";
  }
  72.5% {
    content: "I`m A Photogra|";
  }
  75% {
    content: "I`m A Photograph|";
  }
  77.5% {
    content: "I`m A Photographer|";
  }
  80% {
    content: "I`m A Photograph|";
  }
  82.5% {
    content: "I`m A Photogra|";
  }
  85% {
    content: "I`m A Photog|";
  }
  87.5% {
    content: "I`m A Ph|";
  }
  90% {
    content: "I`m A phot|";
  }
  92.5% {
    content: "I`m A Photog|";
  }
  95% {
    content: "I`m A Photogra|";
  }
  97.5% {
    content: "I`m A Photpgraph|";
  }
  100% {
    content: "I`m A Photographer|";
  }
}
#home button {
  margin-bottom: 100px;
}
.scrol {
  height: 50px;

  width: 25px;
  border: 2px solid white;
  background-color: transparent;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
.insidescrol {
  width: 3px;
  height: 9px;
  background-color: white;
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
}
/***************************************************************************************************************/
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-cllr {
  color: #e65f78;
}
.font-icon {
  color: black;
  border: 2px solid #d4d4d4;
  padding: 10px;

  text-align: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.font-icon:hover {
  color: #e65f78;
  border: 2px solid #e65f78;
}
/******************************************************************************/
#services {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  background-color: #f8f9fa !important;
}
.line {
  width: 40px;
  height: 2px;
  background-color: #e65f78;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#services .servicebox:hover .line {
  width: 70px;
}
#services .iconn {
  font-size: 44px;
  color: #e65f78;
}
#services .servicebox {
  border: 1px solid #e8e8e8;
}
/*****************************************************************************/
.btn-custom {
  background-color: #e65f78;
  border-color: #e65f78;
}
.btn-custom:hover {
  background-color: #d8576f;
  border-color: #d8576f;
}
.hireme {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.hireme .btn {
  padding: 0.9rem 0.9rem;
  color: white;
}
/***************************************************************/
#client {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  background-color: #f8f9fa !important;
}
#client .quote-icon {
  font-size: 48px;
  color: #e65f78;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li {
  background-color: #e65f78;
  width: 15px;
  height: 6px;
  border: 1px solid transparent;

  opacity: 0.5;
}
.carousel-indicators .active {
  opacity: 1;
  width: 30px;
}
.carousel-indicators li:hover {
  opacity: 1;
}
/*************************************************************************************************/
#work {
  text-align: center;
}
.work-a {
  color: black;
  padding: 6px 11px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

.activee,
.work-a:hover {
  color: white;
  background-color: #e65f78;
}
.work-category {
  bottom: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.work-categoryone {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.work-fullcategory {
  overflow: hidden;
}
.work-fullcategory:hover .work-categoryone {
  background-color: rgba(0, 0, 0, 0.6);
}
.work-fullcategory:hover .work-category {
  bottom: -30%;
}
#work .color-p {
  color: rgba(255, 255, 255, 0.6);
}
/************************************************************************************************/
#blog {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  background-color: #f8f9fa !important;
}

#blog a {
  text-decoration: none;
}

#blog .text-colorr {
  color: #e65f78;
}
/**************************************************************************************************/
#contact {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}
#contact .contact-icon {
  font-size: 48px;
  color: #e65f78;
}
#contact h5 {
  line-height: 0.6;
}
#contact .btn-send {
  background-color: #e65f78;
  border-color: #e65f78;
}
#contact .btn-send:hover {
  background-color: #c71f3e;
  border-color: #c71f3e;
}
#contact .btn {
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: white;
}
#contact .form-control {
  padding: 1.5rem 0.75rem;
  border: 2px solid #e0e0e0;
}
#contact .form-textarea {
  padding: 0.5rem 0.75rem;
}
/********************************************************************************************/
.lastsection {
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.lastsection-icon {
  color: #6c757d;
  font-size: 18px;
  background-color: rgba(241, 241, 241, 0.08);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
}
